---
import { Icon } from "astro-icon/components";
import { techIcons } from "../lib/techIcons";

const socials = [
  {
    name: "Website",
    href: "https://joestar.is-a.dev",
  },
  {
    name: "Email",
    href: "mailto:joecn2704+cv@gmail.com",
  },
  {
    name: "GitHub",
    href: "https://github.com/joejo-joestar",
  },
  {
    name: "LinkedIn",
    href: "https://www.linkedin.com/in/joseph-cijo/",
  },
  {
    name: "Instagram",
    href: "https://www.instagram.com/ft._.joe",
  },
];
---

<section id="contact" class="items-start justify-start min-h-fit!">
  <h1>contact.</h1>
  <p>Feel free to reach out to me at any time!</p>
  <div class="flex flex-col gap-4 mt-8">
    {
      socials.map((social) => (
        <a
          class="flex items-center gap-2 text-ctp-mauve font-semibold hover:text-ctp-green transition-all duration-300"
          href={social.href}
          target="_blank"
        >
          {techIcons[social.name] && (
            <Icon name={techIcons[social.name]} class="w-5 h-5" />
          )}
          {social.name}
        </a>
      ))
    }
  </div>
</section>
