---
import { Icon } from "astro-icon/components";
import { techIcons } from "../lib/techIcons";

const socials = [
  {
    name: "Website",
    href: "https://joestar.is-a.dev",
  },
  {
    name: "Email",
    href: "mailto:joecn2704+cv@gmail.com",
  },
  {
    name: "GitHub",
    href: "https://github.com/joejo-joestar",
  },
  {
    name: "LinkedIn",
    href: "https://www.linkedin.com/in/joseph-cijo/",
  },
  {
    name: "Instagram",
    href: "https://www.instagram.com/ft._.joe",
  },
];
---

<footer class="bg-ctp-surface0/75">
  <div class="flex flex-row gap-4">
    {
      socials.map((social) => (
        <a
          class="flex items-center gap-2 text-ctp-mauve font-semibold hover:text-ctp-green transition-all duration-300"
          href={social.href}
          target="_blank"
          aria-label={social.name}
        >
          {techIcons[social.name] && (
            <Icon name={techIcons[social.name]} class="w-5 h-5" />
          )}
        </a>
      ))
    }
  </div>
  Made with ❤️ by Joseph Cijo.
</footer>
