---

---

<section id="home" class="justify-center">
  <h1 class="font-medium">
    Hi, I'm <span class="text-ctp-mauve font-bold">Joseph Cijo</span>!
  </h1>
  <p class="text-lg text-ctp-subtext0">A passionate developer.</p>
  <div class="flex gap-4 mt-4">
    <a
      href="#projects"
      class="px-4 py-2 rounded-md text-ctp-surface1 bg-ctp-mauve hover:bg-ctp-mauve/75 border-2 border-ctp-mauve/75 transition-all duration-300"
    >
      View my projects
    </a>
    <a
      href="/resume.pdf"
      target="_blank"
      class="px-4 py-2 rounded-md text-ctp-text bg-ctp-mauve/25 hover:bg-ctp-mauve/15 border-2 border-ctp-mauve/75 transition-all duration-300"
    >
      View my resume
    </a>
  </div>
</section>
